.cover {
  height: 59vh;
  background-image: linear-gradient(rgba(14, 0, 0, 0.589), rgba(0, 0, 0, 0.527)),
    url(../../../public/asset/images/cover.jpg);
  background-size: cover;
  background-position: bottom;
}
